*{
    margin: 0;  
    box-sizing: border-box;
}

body{    
    font-family: 'Lora', 'Merriweather', 'sans-serif';
}

header {
    display: grid;
    grid-template-columns: 11vw 11vw 11vw auto;
    padding: 2.75vh;
    text-size-adjust: 100%;  
    position: fixed;      
    color: white;
    font-weight: 1000;  
    font-size: 20px;  
    width: 100%; 
    font-family: cursive;
    padding-bottom: 10rem;
}

header a { 
    touch-action: manipulation;
    text-decoration: none;
    color: aliceblue;
}

.MyPicture {
 max-width: 100vw;
 height: 50vh;

}

footer {
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(to top right, grey, lightblue);
    opacity: .8;
    color: white;
    font-size: 20px;
    align-items: center;
    font-size-adjust: 100%;
}
footer .Github{
    font-size: 3rem;
}

footer .Linkedin{
    font-size: 3rem;
}
/* Index Page Start*/

.IndexPhoto {
    background-image: url("/Images/MainPagePhoto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
}
/* Recent Work Page Start*/
.MainPhoto{
    background-image: url(/Images/Recent_Work_Photo.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 92vh;
    max-width: 100%;
}
/* Recent Work Page End */

/* Contact Me Page Start*/
.ContactWrapper{
    display: grid;
    grid-template-columns: 2fr 1fr;   
    background-image: linear-gradient(to bottom right, #c4b5a1,#8981a1);
    padding-bottom: 200px;     
    padding-top: 4rem;  
}

.ContactPhoto {
    background-image: url("/Images/CallMe.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 600px;
    max-width: 100%;   
}

.ContactInfo {
    list-style: none;
    position: center;
    font-size: 1.25rem;
    align-self: center;
    padding: 2rem;
} 

.ContactInfo li{
    padding-bottom: 15px;
}

